[flake8]
ignore = E203, E266, W291, W293, F401, F403, E501, W503, W605, C901, E712
max-line-length = 88
max-doc-length = 144
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude =
    .git,
    .github,
    __pycache__,
    build,
    dist,
    dev,
    downloads,
    eggs,
    lib,
    lib64,
    sdist,
    var,
    wheels
